.container {
  margin-top: 80px;
}

.subtitle {
  color: gray;
  font-size: 15px;
}

.book-details {
  margin-top: 10px;
}

.book-details .tab-content {
  margin-top: 15px;
}

.book-details .book-info-table tr td {
  width: 50%;
}

.blockquote {
  font-size: 14px;
  color: #626262;
}
