{% extends 'base.html' %}
{% load books %}

{% block title %}
  {{ book.main_version.title }}
{% endblock %}

{% block content %}
  {% if book.versions.count == 1 %}
    {% with versions.0 as version %}
      {% include 'books/partial/_book_info.html' %}
    {% endwith %}
  {% else %}
    <div class="row">
      <div class="col-lg-12">
        <h3>{{ book.main_version.title }} {% if book.latest_status %}[{{ book.latest_status.get_status_display }}]{% endif %}</h3>
        {% for not_main_version in book.not_main_versions %}
          <span class="subtitle">{{ not_main_version.title }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="row book-details">
      <div class="col-lg-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          {% for version in versions %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="home-tab" data-toggle="tab" href="#{{ version.language.code }}" role="tab" aria-controls="home" aria-selected="true">
                {{ version.language.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for version in versions %}
            <div class="tab-pane show {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ version.language.code }}" role="tabpanel" aria-labelledby="home-tab">
              {% include 'books/partial/_book_info.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
