{% load books %}

<div class="row">
  <div class="col-lg-2">
    {% if version.cover %}
      <img src="{{ version.cover.url }}" alt="{{ version.title }}" width="160px">
    {% endif %}
  </div>
  <div class="col-lg-6">
    <h3>{{ version.title }}</h3>
    <table class="table table-bordered mt-4 table-sm book-info-table">
      <tbody>
      <tr>
        <td>Actions</td>
        <td><a href="{% url 'admin:book_book_change' book.id %}" target="_blank">edit</a></td>
      </tr>
      {% if version.published_at %}
        <tr>
          <td>Published</td>
          <td>{{ version.published_at_formatted }}</td>
        </tr>
      {% endif %}
      {% if version.pages_count %}
        <tr>
          <td>Pages</td>
          <td>{{ version.pages_count }}</td>
        </tr>
      {% endif %}
      {% if version.seconds_length %}
        <tr>
          <td>Audio</td>
          <td>{{ version.seconds_length_formatted }}</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    <p>{{ version.description|linebreaksbr }}</p>
  </div>
  <div class="col-lg-4">
    <div class="mb-4">
      {% if not version.latest_status %}
        <form action="{% url 'start_reading' version.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-success" type="submit">Start reading</button>
        </form>
      {% endif %}
      {% if version.latest_status.is_started %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finishReading{{ version.id }}">
          Finish reading
        </button>
      {% endif %}
    </div>

    <div class="card mb-4">
      <div class="card-header">
        Info
      </div>
      <div class="card-body">
        {% with book|get_series_for_language:version.language as series %}
          <p>Series: #{{ book.series_position }} {{ series.name }}</p>
        {% endwith %}

        {% with book|get_authors_for_language:version.language as authors %}
          {% for author in authors %}
            <a href="{% url 'author_details' author.entity.id %}">{{ author.full_name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endwith %}
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Categorization
      </div>
      <div class="card-body">
        <p>External:</p>
        <ul>
          {% for identifier in book.identifiers.all %}
            <li><a href="{{ identifier.get_external_link }}" target="_blank">{{ identifier.get_type_display }}</a></li>
          {% endfor %}
        </ul>

        <p>Shelfs: {{ book.shelfs.all|join:', ' }}</p>

        {% for tag in book.tags.all %}
          <span class="badge badge-dark">{{ tag.name }}</span>
        {% endfor %}
      </div>
    </div>

    {% if version.timeline.all %}
      <table class="table table-bordered mt-4 table-sm">
        <tbody>
        {% for timeline in version.timeline.all %}
          <tr>
            <td>{{ timeline.get_status_display }}</td>
            <td>{{ timeline.created }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if version.latest_status.is_completed %}
      {% for score in version.scores.all %}
        <div class="card mt-4">
          <div class="card-header">
            Score: {{ score.score }}/10, {{ score.get_type_display }}
          </div>
          {% if score.comment %}
            <div class="card-body">
              <p class="card-text">{{ score.comment|linebreaks }}</p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

  </div>
</div>

<div class="modal fade" id="finishReading{{ version.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <form action="{% url 'finish_reading' version.id %}" method="POST">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finish Reading</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="score">Score</label>
            <input type="number" class="form-control" name="score" id="score" min="1" max="10" required>
          </div>
          <div class="form-group">
            <label for="type">Book type</label>
            <select class="form-control" id="type" name="type">
              <option selected>Chose a book type:</option>
              {% for book_type in book_types %}
                <option value="{{ book_type.0 }}">{{ book_type.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Finish</button>
        </div>
      </div>
    </div>
  </form>
</div>
